@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: red;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  background-color: white;
  /* background-color: grey; */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #112025;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #112025;
}

p {
  font-size: 1rem;
  color: #666666;
}

a {
  color: #112025;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  font-size: 1rem;
  color: #112025;
}

.custom-appendDots .slick-active div {
 background-color: #112025 !important;
}

.header-slider .slick-prev::before, 
.header-slider .slick-next::before {
    content: none !important;
    display: none !important;
}

.header-slider .slick-arrow.slick-prev {
    left: 10px;
    top: 60%;
}
  
.header-slider .slick-arrow.slick-next {
  right: 10px;
  top: 60%;
}

.hero-section-slider-div .slick-slider .slick-dots {
  right: 35% !important;
  padding: 22px !important;
}

.slick-slider .slick-dots ul li {
    width: 10px;
  }

@media screen and (min-width: 768px) {
  .slick-slider .slick-dots ul li {
    width: 20px;
  }
  .header-slider .slick-arrow.slick-prev {
    left: 510px;
    top: 60%;
  }

  .header-slider .slick-arrow.slick-next {
    right: 510px;
    top: 60%;
  }

  .hero-section-slider-div .slick-slider .slick-dots {
    right: 45% !important;
    padding: 15px !important
  }
}
