@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: red;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  background-color: grey;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #112025;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #112025;
}

p {
  font-size: 1rem;
  color: #666666;
}

a {
  color: #112025;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  font-size: 1rem;
  color: #112025;
}
